{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-7">
            <h1 style="font-weight:500;line-height:1.2;margin-bottom:.5rem;margin-top:10px;">ModelTitle</h1>
        </div>
        <a href="{% url 'newmodel-create' %}">
            <button type="button" class="btn ccsd-blue-btn"
                style="min-height:3em;min-width:10em;margin-top:20px;margin-right:15px;">
                <i class="fas fa-plus"></i> Add New Item
            </button>
        </a>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="newmodelMenuButton"
                aria-expanded="false" style="min-height:3em;min-width:10em;margin-top:20px;"><i class=" fas
                                fa-tools"></i> Menu</button>
            <div class="dropdown-menu" aria-labelledby="newmodelMenuButton">
                placeholderText
            </div>
        </div>
    </div>
    <br />
    {% for item in newmodel_list %}
    <div class="row">
        <div class="col-md-7">
            <div class="list-group">
                <a href="{% url 'newmodel-detail' item.pk %}" class="list-group-item">
                    {{ item.id }} | {{ item.template_field_name }} |
                </a>
            </div>
        </div>

        <a href="{% url 'newmodel-edit' item.pk %}">
            <button type="button" class="btn ccsd-primary-btn" style="margin-right:15px;min-height:3em;min-width:10em;">
                <i class="fas fa-edit"></i> Edit
            </button>
        </a>

        <a href="{% url 'newmodel-delete' item.pk %}">
            <button type="button" class="btn ccsd-orange-btn col-md-1" style="min-height:3em;min-width:10em;">
                <i class="fa fa-trash"></i> Delete
            </button>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}