{% extends 'base.html' %}
{% block content %}

{% load widget_tweaks %}
<!DOCTYPE html>
<html>

<body>
    <div class="container-fluid">
        <h5 style="text-align:center;font-weight:bold;margin-top:25px;">Add a new item below.</h5>
        <div class="row justify-content-md-center">
            <a href="{% url 'newmodel-list' %}">
                <button type="button" class="btn ccsd-blue-btn" style="min-height:3em;min-width:10em;">
                    <i class='fa fa-home'></i> Home
                </button>
            </a>
        </div>
        <div class="row justify-content-md-center" style="margin-top:15px;text-align:center;">
            <div>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                    <div class='form-row'>
                        <div class="form-group">
                            {{ field.label_tag }}
                            {% render_field field class="form-control" %}
                            {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn ccsd-primary-btn" style="min-height:3em;min-width:10em;">
                        <i class="fas fa-paper-plane"></i> Submit</button>
                </form>
                <br>
            </div>
        </div>
    </div>
</body>

</html>
{% endblock %}