{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2 style="text-align:center;">
                ID: {{newmodel.id}}
            </h2>
        </div>
    </div>
    <div class="row">
        <a href="{% url 'newmodel-list' %}">
            <button type="button" class="btn ccsd-blue-btn col-md-1 col-md-offset-1" style="min-height:3em;">
                <i class='fa fa-home'></i> Home
            </button>
        </a>
    </div>

    <div class="row" style="margin-top:25px;">
        <div class="col-md-10 col-md-offset-1">
            <strong>ID: </strong>{{newmodel.id}}
        </div>
    </div>

    <div class="row" style="margin-top:25px;">
        <div class="col-md-10 col-md-offset-1">
            <strong>Name: </strong>{{newmodel.template_name}}
        </div>
    </div>

    <div class="row" style="margin-top:25px;">
        <a href="{% url 'newmodel-edit' newmodel.pk %}">
            <button type="button" class="btn ccsd-primary-btn col-md-1 col-md-offset-1" style="min-height:3em;">
                <i class="fas fa-edit"></i> Edit
            </button>
        </a>
    </div>
    <div class="row" style="margin-top:5px">
        <a href="{% url 'newmodel-delete' newmodel.pk %}">
            <button type="button" class="btn ccsd-orange-btn col-md-1 col-md-offset-1" style="min-height:3em;">
                <i class="fa fa-trash"></i> Delete
            </button>
        </a>
    </div>
</div>
{% endblock %}